.body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
.body.modal-open {
  overflow: hidden;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section, .section--grey-bg {
  padding: 94px 0;
}
.section--padding {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section--padding {
    padding: 60px 0;
    display: none;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1600px) {
  .section-title {
    margin-bottom: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input:-webkit-autofill {
  -webkit-transition: background-color 5000000s ease-in-out 0s;
  transition: background-color 5000000s ease-in-out 0s;
}

button {
  padding: 0;
}

.is-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.social-list__link-footer, .social-list__link {
  fill: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link-footer:hover, .social-list__link:hover {
  background-color: #2196F3;
}

.modal-window__btn-confirm, .footer-form__btn, .hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__btn-confirm:active, .footer-form__btn:active, .hero__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.modal-window__btn-confirm:hover, .footer-form__btn:hover, .hero__btn:hover, .modal-window__btn-confirm:focus, .footer-form__btn:focus, .hero__btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.page-header {
  position: relative;
  border: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding: 10px 0;
  }
}

.page-header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header__wrapper.is-open {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    opacity: 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .page-header__wrapper.is-open {
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__wrapper.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .page-header__wrapper {
    max-width: 480px;
    width: 100%;
    position: absolute;
    padding: 10vw 8vw;
    z-index: 999;
    opacity: 1;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .page-header__wrapper {
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.page-header__btn {
  display: none;
}
@media screen and (max-width: 767px) {
  .page-header__btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
  }
  .page-header__btn:hover .page-header__icon, .page-header__btn:focus .page-header__icon {
    fill: #2196F3;
  }
  .page-header__btn--close {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 10px;
    right: 15px;
  }
  .page-header__btn--close:hover .page-header__icon, .page-header__btn--close:focus .page-header__icon {
    fill: #2196F3;
  }
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    margin-bottom: 64vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .page-header__nav {
    margin-bottom: 305px;
  }
}

.nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:first-child) {
    margin-left: 57px;
  }
}

.nav__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0;
  }
}
.nav__link--current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    content: " ";
    display: block;
    width: 100%;
    min-height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #2196F3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__contacts {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__contacts {
    margin-left: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contacts {
    margin-left: 314px;
  }
}

.contacts {
  font-weight: 500;
  font-size: 8vw;
  line-height: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 480px) {
  .contacts {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:last-child {
    margin-bottom: 32px;
    color: #2196F3;
  }
  .contacts__item:first-child {
    font-size: 24px;
    color: #757575;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    color: #757575;
    font-size: 12px;
    line-height: 14px;
  }
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__item:last-child {
    margin-left: 30px;
  }
}

.contacts__link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__icon-mail,
.contacts__icon-phone {
  fill: #AFB1B8;
}
@media screen and (max-width: 767px) {
  .contacts__icon-mail,
.contacts__icon-phone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts__icon-mail,
.contacts__icon-phone {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon-mail,
.contacts__icon-phone {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon-mail {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon-mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon-phone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon-phone {
    width: 10px;
    height: 14px;
  }
}

.header-social-list {
  font-size: 4vw;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .header-social-list {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .header-social-list {
    display: none;
  }
}

.header-social-list__item:not(:first-child) {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.header-social-list__link {
  color: #2196F3;
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}

.page-header__logo {
  color: #212121;
}

.page-footer__logo {
  color: #ffffff;
}

.hero {
  background-color: #757575;
  text-align: center;
  padding: 118px 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: url(../images/img/mobile/bg/m-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #2F303A;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    background-image: url("../images/img/mobile/bg/m-hero-bg.jpg");
  }
}
@media screen and (max-width: 576px) and (min-device-pixel-ratio: 2), screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 576px) and (min-resolution: 192dpi), screen and (max-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/img/mobile/bg/m-hero-bg@2x.jpg");
  }
}
@media screen and (max-width: 576px) and (min-device-pixel-ratio: 2), screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 576px) and (min-resolution: 288dpi), screen and (max-width: 576px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/img/mobile/bg/m-hero-bg@3x.jpg");
  }
}
@media screen and (min-width: 577px) and (max-width: 960px) {
  .hero {
    background-image: url("../images/img/tablet/bg/t-hero-bg.jpg");
  }
}
@media screen and (min-width: 577px) and (max-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/img/tablet/bg/t-hero-bg@2x.jpg");
  }
}
@media screen and (min-width: 577px) and (max-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 288dpi), screen and (min-width: 577px) and (max-width: 960px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/img/tablet/bg/t-hero-bg@3x.jpg");
  }
}
@media screen and (min-width: 961px) {
  .hero {
    background-image: url("../images/img/desktop/bg/d-hero-bg.jpg");
  }
}
@media screen and (min-width: 961px) and (min-device-pixel-ratio: 2), screen and (min-width: 961px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 961px) and (min-resolution: 192dpi), screen and (min-width: 961px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/img/desktop/bg/d-hero-bg@2x.jpg");
  }
}
@media screen and (min-width: 961px) and (min-device-pixel-ratio: 2), screen and (min-width: 961px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 961px) and (min-resolution: 288dpi), screen and (min-width: 961px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/img/desktop/bg/d-hero-bg@3x.jpg");
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    background-size: contain;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    width: 100%;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 20px;
}

.rules-list {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .rules-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .rules-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .rules-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .rules-list__item {
    max-width: calc((100% - 60px) / 2);
    margin: 15px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .rules-list__item {
    max-width: calc((100% - 90px) / 4);
    margin: 0;
  }
  .rules-list__item:not(:first-child) {
    margin-left: 30px;
  }
}

.rule-list__icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .rule-list__icon {
    width: 100%;
  }
}

.rule-list__label {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .rule-list__label {
    text-align: left;
  }
}

.rule-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.what-we-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.what-we-list__item {
  max-width: calc((100% - 90px) / 3);
  width: 100%;
  margin: 15px;
}

.what-we-list__content {
  position: relative;
}

.what-we-list__label {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.section--grey-bg {
  background-color: #F5F4FA;
}

.team-list {
  list-style-type: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team-list__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    max-width: calc((100% - 60px) / 2);
    width: 100%;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    max-width: calc((100% - 120px) / 4);
    width: 100%;
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team-member__photo {
    min-height: 374px;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team-member__photo {
    min-height: 260px;
    height: 100%;
  }
}

.team-member__content {
  padding: 30px 0 25px 0;
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon {
  fill: #ffffff;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: -15px;
}

.client-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__item:hover {
  border-color: #2196F3;
}
@media screen and (max-width: 767px) {
  .client-list__item {
    max-width: calc((100% - 60px) / 2);
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .client-list__item {
    max-width: calc((100% - 90px) / 3);
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    max-width: calc((100% - 180px) / 6);
    width: 100%;
  }
}

.client-list__link {
  height: 92px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__item:hover .client-list__link {
  fill: #2196F3;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 50px;
  }
}

.btn-list__item:not(:first-child) {
  margin-left: 8px;
}
@media screen and (max-width: 1199px) {
  .btn-list__item:nth-child(-n+4) {
    margin-bottom: 15px;
  }
}

.btn-list__label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 26px;
  color: #212121;
  background-color: #F5F4FA;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__label:hover, .btn-list__label:focus {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-list__input:checked + .btn-list__label {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-list__label--wider-btn {
  padding: 6px 53px;
}

.projects-list {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-self: center;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .projects-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .projects-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc((100% - 60px) / 2);
    width: 100%;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-list__item {
    max-width: calc((100% - 90px) / 3);
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover, .project:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project:hover .project__text, .project:focus .project__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 0 5vw;
  padding-top: 16vw;
  padding-bottom: 22vw;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .project__text {
    padding: 77px 24px 105px 24px;
  }
}
@media screen and (min-width: 768px) {
  .project__text {
    padding: 49px 24px 105px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .project__text {
    padding: 63px 24px 91px 24px;
  }
}

.project__content {
  padding: 24px 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.project__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .conteiner--footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer {
  background-color: #2F303A;
  text-align: center;
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .page-footer--tablet-flex {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer--tablet-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .page-footer--tablet-flex {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__contacts-wrapper {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__contacts-wrapper {
    margin-left: 76px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__contacts-wrapper {
    text-align: left;
  }
}

.footer-contacts--margin {
  margin-top: 13px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts--margin {
    margin-top: 9px;
  }
}

.footer-contacts__list {
  list-style-type: none;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196F3;
}
.footer-contacts__link--address {
  color: #ffffff;
  display: inline-block;
  max-width: 232px;
}

@media screen and (min-width: 768px) {
  .footer__social-media {
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-media {
    margin-left: 70px;
  }
}

.page-footer__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .page-footer__label {
    text-align: left;
  }
}

.social-list__link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__link-footer:hover .social-list__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .form-field {
    min-width: 358px;
    margin-right: 12px;
  }
}

.form-field__input {
  max-width: 450px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: #2F303A;
  padding: 15px 16px;
}
@media screen and (max-width: 767px) {
  .form-field__input {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .form-field__input {
    margin-bottom: 20px;
    width: 100%;
  }
}

.footer-form__btn {
  margin-top: 36px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  padding: 10px 77px 10px 43px;
}

.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 93px 15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: initial;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-window {
  max-width: 450px;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  padding: 8vw;
  background-color: #ffffff;
}
@media screen and (min-width: 480px) {
  .modal-window {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-window__btn-close {
  position: absolute;
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__btn-close:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal-window__icon-x {
  right: 50%;
  max-width: 18px;
  width: 100%;
  position: absolute;
  top: 53%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__btn-close:hover .modal-window__icon-x, .modal-window__btn-close:focus .modal-window__icon-x {
  fill: #2196F3;
}

.modal-window__title {
  display: block;
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-window__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-window__field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.modal-window__input {
  max-width: 370px;
  width: 100%;
  padding: 12px 0;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__input:focus-within {
  border-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .modal-window__input {
    max-width: 448px;
    width: 100%;
  }
}

.modal-window__field-icon {
  max-width: 18px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__field:focus-within .modal-window__field-icon {
  color: #2196F3;
}

.modal-window__textarea {
  display: block;
  max-height: 120px;
  max-width: 370px;
  height: 100%;
  width: 100%;
  padding: 16px 12px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-window__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__textarea:focus-within {
  border-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .modal-window__textarea {
    max-width: 448px;
    width: 100%;
  }
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.policy__checkbox {
  position: absolute;
  top: 81%;
  left: 10%;
}
.policy__checkbox:checked + .policy__cust-checkbox {
  background-color: #2196F3;
  border-color: transparent;
}
.policy__checkbox:checked + .policy__cust-checkbox > .policy__icon {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .policy__checkbox {
    top: 81%;
    left: 11%;
  }
}
@media screen and (min-width: 1200px) {
  .policy__checkbox {
    top: 80%;
    left: 12%;
  }
}

.policy__cust-checkbox {
  position: relative;
  max-width: 16px;
  width: 100%;
  min-height: 15px;
  height: 100%;
  border: 2px solid #212121;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .policy__cust-checkbox {
    margin-left: 14px;
    margin-top: 4px;
  }
}

.policy__icon {
  position: absolute;
  top: -2px;
  left: -2px;
  min-height: 15px;
  height: 100%;
  opacity: 0;
}

.policy__text {
  margin-left: 8px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .policy__text {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 13px;
  }
}

.modal-window__btn-confirm {
  display: block;
  padding: 10px 80px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */