.logo {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17px;
	letter-spacing: 0.03em;
	color: $accent-color;
	text-decoration: none;
}

.page-header__logo {
	color: $header-color;
}

.page-footer__logo {
	color: $secondary-text-color;
}

