$primary-page-color: #ffffff;
$secondary-page-color: #F5F4FA;
$third-page-color: #2F303A;
$accent-color: #2196F3;
$header-color: #212121;
$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$primary-icon-color: #AFB1B8;
$third-pages-color: #2F303A;
$time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$hover-btn-color: #188CE8;